.home{
    padding-left: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}


.hello {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 13rem;
    position: absolute;
    left: 10rem;

}

.hello > .avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px var(--secondary-font) solid;
    position: relative;
    bottom: 250px;
    left: 2rem;
}

.avatar > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--font);
}
.subtitle{
    position: absolute;
    bottom: 25%;
    left: 11.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 20px;
    
}
.subtitle > h3{
    font-weight: 400;
}
.animation{
    width: 100%;
    position: fixed;
    right: 0;
    top: 12rem;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding-right: 15rem;
    
}

.linkto{
    color: #fd4b4b;
    font-weight: 900;

}
@media screen and (max-width: 1000px){
    .home{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 0.5rem;
        gap: 1rem;
        margin-bottom: 2rem;

    }
    .hello{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        width: 100vw;
        font-size: 7rem;
        position: unset;

    }
    .hello .avatar{
      
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      position: unset;
              
    }
  .avatar > img{
    width: 150px;
    height: 150px;
  }
    .animation{
        display: none;
    }
    .subtitle{
        position: unset;
        margin-bottom: 1rem;
        flex-direction: column;
        
    }
}