.projects-grid{
    margin: 5rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: auto;
    width: 100%;
    align-items: flex-start;
    justify-items: flex-start;
    justify-self: flex-start;
    gap: 1rem;

}
figure{
   
   height: 600px;
    width: 100%;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    background-color: #2e2c46;
    gap: 1rem;
    transition: all ease 0.4s;
    
}
figure > .text {
    color: var(--font);
    width: 16.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align:left;}

figure > .techs{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 1rem;
    text-align: start;
}
.techs h4{
    width: 100%;
}
.techs>a{
    transition: none;
}
.techs>a > h4{
    font-weight: 400;
    color: #a77a7a;
    transition: none;
}

.techs >abbr> img{
    width: 50px;
    height: 50px;
    filter: contrast(100);
}

.links-pr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
figure:hover{
    transform: scale(1.03);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.448);
}
@media screen and (max-width: 1000px){
    .projects-grid{
        margin: 2rem auto;
        padding-bottom: 3rem;
        height: auto;
    }
}