
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--font);
  -webkit-font-smoothing: antialiased;
  
}
:root{
  --bg-color: #1F1D36;
  --font: #efb2b2;
  --highlight: rgb(85, 17, 17);
}
body{
  width: 100vw;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: #70687b;
  transition: all ease-in-out 0.4s;
}
a:hover, .active{
  color: var(--font);
  text-shadow:  0 0 30px  10px #e9a6a6b3;
}
main{
  height: auto;
  display: flex;
  flex-direction: column;

  
}